---
import Layout from "../../layouts/Layout.astro";
import Accordion from "../../components/Accordion.astro";
---

<Layout title="Getting Started">
  <h1 class=" text-purple-500 text-3xl font-bold my-4">
    Your first steps with serverman
  </h1>

  <p>

  </p>
  <Accordion title="Digital Ocean" details="<h2>Manage your Digital ocean instances</h2><p>All you need to see, access, manage your digital ocean droplets, create new sites or init new servers</p>"/>
</Layout>