---
import Menu from '../components/Menu.astro';
const { frontmatter } = Astro.props;
---
<!doctype html>

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		<Menu/>
		<main class="p-7 mt-10 rounded-md bg-slate-800 border-purple-500">
			<h1 class="text-4xl text-purple-400 font-bold">{frontmatter.title}</h1>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	p{
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	p{
		@apply text-white;
	}
	ul{
		@apply text-white;
		list-style:symbols(-) ;
	} 
	h3, h4, h5{
		@apply text-purple-400 text-3xl font-bold my-4;
	}
	h4{
		@apply  text-2xl;
	}
	h5{
		@apply text-xl ;
	}
</style>
